body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: black;
}
.container{
    text-align: center;
    border: 2px solid blue;
    padding: 20px;
    border-radius: 20px;
}
.container .title{
    border-bottom: 2px dashed sandybrown;
    margin-bottom: 15px;
    padding: 5px;
}